<div class="ui segment sk-list-item">
    <a href="">
        <div class="column">
            <div class="ui grid">
                <div class="two wide center aligned column">
                    <div class="ui statistic">
                        <div class="value">{{ article.votes }}</div>
                        <div class="label">Głosów</div>
                    </div>
                    <div class="sk-list-item buttons">
                        <button class="ui tiny compact icon button" (click)="votePlus()">
                            <i class="plus icon"></i>
                        </button>
                        <button class="ui tiny compact icon button" (click)="voteMinus()">
                            <i class="minus icon"></i>
                        </button>
                    </div>
                </div>
                <div class="fourteen wide column">
                    <img src="{{ article.image }}" alt="obraz" class="floated left">
                    <div class="sk-list-item-right">
                        <h4>{{ article.title }}</h4>
                        <span class="label">{{ article.link }}</span>
                        <p>{{ article.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>